.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-bottom: 30px;
}
.buttons button{
    height: 50%;
    width: 100px;
    border: none;
    backdrop-filter: blur(40px);
    border-radius: 10px;
    margin: 0 20px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s ease;
}
.dark button{
    background-color: rgb(121, 108, 242);
    color: #f5f5f8;
}

.dark{
    color: #f5f5f8;
}
.dark button:disabled{
    background-color: #292f43;
}
.light button{
    color: #0a0a21;
    background-color: rgba(74, 182, 251, 0.68);
}
.light button:hover{
    height: 55%;
    width: 105px;
}
.dark button:hover{
    height: 55%;
    width: 105px;
}
.light button:disabled{
    background-color: rgba(192, 195, 204, 0.69);
}